.footer {
    font-family: sans-serif;
    padding-top: 50px;
}

.foooter {
    width: 100%;
    padding: 100px 10%;
    background: #333;
    color: #efefef;
    display: flex;
}

.foooter div {
    text-align: center;
}

.col-2 {
    flex-grow: 2;
}

.foooter div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}

form input {
    width: 400px;
    height: 45px;
    text-align: center;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.col-4 {
    padding-left: 100px;
}

.row {
    background: #333;
    color: white;
    padding-top: 5px;
}

.row hr {
    width: 80%;
    display: flex;
    margin-left: 10%;
}

.row p {
    padding-top: 7px;
    padding-bottom: 4px;

}
.social-icon img{
    height:30px;
    width:30px;
    margin-left: 10px;
}